/* en esta parte del codigo es el estilo de la barra desplegable donde se encuentra,
 el producto seleccionado, el precio de cada uno de ellos y la opcion de ver el carrito de las compras  */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
} 
.dropdown-menu{
    top: 100%;
    left: unset !important;
    right: 0px !important;
    margin-top: var(--bs-dropdown-spacer);
}
.CartContainer {
    width: 300px;
    padding: 5px;
}