<section id="product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="productHeading text-center">
                    <h2 class="mb-3">Productos Exclusivos</h2> 
                    <ul class="list-unstyled d-flex   justify-content-center ">
                        <li><a href="#" class=" m-4  text-decoration-none text-danger fw-semibold  ">Nuevo</a></li>
                        <li><a href="#" class=" m-4  text-decoration-none fw-semibold text-black">Mas Vendido</a></li>
                        <li><a href="#" class=" m-4  text-decoration-none fw-semibold text-black ">Oferta</a></li>
                    </ul>  
                </div>
            </div>
            <div class="col-12">
                <div class="row mt-3">
                   <!--Usando la directiva angular `*ngfor` para recorrer una array de 'ProductList'
                   y cree un elemento `div` con la clase` col-lg-3 pt-1` para cada elemento en el
                   formación.Esto se usa  para generar dinámicamente elementos HTML basados en datos
                   de un componente.-->
                   <!-- 1 NGFOR -->
                    <div class="col-lg-3 pt-2" *ngFor="let product of productList">
                        <div class="box-shadow">
                            <div class="card">
                                        <!--  binding de la propiedad productImageUrl (imagen) de lista de productos (productList), permite acceder dinámicamente a las imagenes de la lista-->
                                <img class="img-fluid" style="height: 200px;" [src]="product.productImageUrl" class="card-img-top"
                                    alt="...">
                                <div class="card-body">

                                        <!-- muestra dinámicamente el nombre del producto de la lista (productList) usando interpolación {{}}-->
                                    <h5 class="card-title">{{product.productName}}</h5>
                                    <p class="card-text">
                                        <!-- interpolación del precio del producto y del precio ficticio anterior. -->
                                        <span class="text-danger fw-semibold me-2">${{product.productPrice}}</span><del> ${{product.productPrice}}684844</del>
                                        <span class="text-success ms-2">999% Off</span></p>
                                     
                                        <!-- agregamos una review basada en stars y una cantidad de reviews -->
                                    <div class="row">
                                        <div class="col-6">
                                            <i class="fa-solid fa-star-half-stroke  m-0"
                                                style="color: #f1f50f;"></i> 
                                            <i class="fa-solid fa-star-half-stroke  m-0"
                                                style="color: #f1f50f;"></i> 
                                            <i class="fa-solid fa-star-half-stroke  m-0"
                                                style="color: #f1f50f;"></i> 
                                                <span class="text-muted">(21)</span>
                                        </div>
                                        <div class="col-6">
                                            <button class="btn btn-sm btn-success" (click)="addItemToCart(product.productId)"> Añadir al carrito</button>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>

</section>