<div class="row">
    <div class="col-8">
        <div class="CartContainer">
            <div class="row">
              <div class="col-12">
                <h3>Artículos Seleccionados</h3>
              </div> 
            </div>
            <!-- Se crea una fila con una imagen de producto que se muestra en una columna para cada elemento en el
            CartProducts`.La variable 'Cart' se usa para representar cada elemento en el array, y su propiedad 'ProductImageUrl`
             se utiliza para mostrar la imagen del producto correspondiente. -->
            <div class="row pt-1" *ngFor="let cart of cartProducts"> <!-- Pt-1  se usa para agregar  relleno a la parte superior de la fila.-->
              <div class="col-3"> <!--  se usa para definir el ancho del columna.-->
                <img class="img-fluid" style="height: 200px;" [src]="cart.productImageUrl" class="card-img-top">
              </div>
              <div class="col-3">
                {{cart.productName}}
              </div>
              <div class="col-2">
                {{cart.quantity + 1}}
              </div>
              <div class="col-2 text-end">
               {{ cart.productPrice}}
              </div>
            <!--El botón con el texto "Eliminar"  se hace clic en el ,se llama la función "RemoveItem ()" 
              Pasando el parámetro"cart.cartId".es parte de una función de carrito ,donde el usuario puede
             eliminar los artículos de su carrito.--> 
              <div class="col-2 text-end">
                <button class="btn btn-sm btn-danger" (click)="RemoveItem(cart.cartId)">Eliminar</button>
               </div>
            </div>
           
            <div class="row">
              <div class="col-3">

              </div>
              <div class="col-9">
                <hr>
              </div>
            </div>
           
            <div class="row">
              <div class="col-2">
                 
              </div>
              <div class="col-2">
                 
              </div>
              <!--  muestra el subtotal de los elementos en el carrito,el número de artículos 
                y el precio total -->
              <div class="col-4">
                <div class="Subtotal">Sub-Total</div>
                <div> <small> 2 items</small></div>
              </div>
              <!--interpolacion de la variable subTotal, que muestra el precio subtotal
               La clase 'col-4` se usa para definir el ancho del columna,
               y la clase `text-end` se usa para alinear el texto,de lado derecho
              de la columna.--> 
              <div class="col-4 text-end">
                <strong> ${{subTotal}}</strong>
              </div>
            </div>
           <!-- Llama a la funciòn makeSale, mediante el evento click, 
            la funciòn muestra un simple mensaje que confirma la compra --> 
            <div class="row">
                <div class="col-12 text-center">
                    <button class="btn btn-lg btn-success" (click)="makeSale()"> Confirmar Compra</button>
                </div>
            </div>
             
          </div>
    </div>
</div>
